{{#hasSuppressWarnings}}@SuppressWarnings('{{suppressWarnings}}')
{{/hasSuppressWarnings}}{{accessModifier}} virtual class {{classname}} {
  private {{{clientClassName}}} client;

  {{accessModifier}} {{classname}}(final {{{clientClassName}}} client) {
    this.client = client;
  }
{{#operations}}{{#operation}}

  {{accessModifier}} class {{vendorExtensions.x-apex-dto-class}} {
{{#allParams}}
    {{accessModifier}} {{{dataType}}} {{paramName}};

    {{accessModifier}} {{vendorExtensions.x-apex-dto-class}} {{vendorExtensions.x-apex-setter}}(final {{{dataType}}} {{paramName}}) {
      this.{{paramName}} = {{paramName}};
      return this;
    }

{{/allParams}}  }

  /**
{{#summary}}   * {{summary}}
{{/summary}}{{#allParams}}   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional){{/required}}
{{/allParams}}   * @return {{{returnType}}}
   */
  {{accessModifier}} virtual {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}(
    final {{vendorExtensions.x-apex-dto-class}} request
  ) {
    final {{{builderClassName}}} builder = new {{{builderClassName}}}()
      .setEndpoint({{{vendorExtensions.x-apex-path-request}}})
      .setMethod({{{builderClassName}}}.HttpMethod.{{vendorExtensions.x-apex-http-method}});
{{#bodyParam}}
    builder.setBody(JSON.serialize(request.{{paramName}}));
{{/bodyParam}}
{{#queryParams}}
    {{#isArray}}if (request.{{paramName}} != null && !request.{{paramName}}.isEmpty()) {
      final List<String> {{paramName}}Strs = new List<String>();
      for ({{{items.dataType}}} item : request.{{paramName}}) {
        {{paramName}}Strs.add(String.valueOf(item));
      }
      builder.addQueryParameter('{{baseName}}', String.join({{paramName}}Strs, ','));
    }{{/isArray}}{{^isArray}}if (request.{{paramName}} != null{{#isString}} && !String.isBlank(request.{{paramName}}){{/isString}}) {
      builder.addQueryParameter('{{baseName}}', String.valueOf(request.{{paramName}}));
    }{{/isArray}}
{{/queryParams}}
    {{#returnType}}return ({{{returnType}}}) JSON.deserialize(
      this.client.sendRequest(builder),
      {{{returnType}}}.class
    );{{/returnType}}{{^returnType}}this.client.sendRequest(builder);{{/returnType}}
  }
{{/operation}}{{/operations}}
}
