{{#hasSuppressWarnings}}@SuppressWarnings('{{suppressWarnings}}')
{{/hasSuppressWarnings}}{{accessModifier}} virtual class {{classname}} {
  private {{{clientClassName}}} client;

  {{accessModifier}} {{classname}}(final {{{clientClassName}}} client) {
    this.client = client;
  }

  private {{{apiExceptionClassName}}} buildApiException(final String operationId, final {{{httpClientClassName}}}.HttpResult httpResult) {
    final {{{apiExceptionClassName}}} ex = new {{{apiExceptionClassName}}}(
      operationId + ' failed: ' + httpResult.response.getStatusCode() + ' - ' + httpResult.response.getBody()
    );
    ex.httpResult = httpResult;
    return ex;
  }
{{#operations}}{{#operation}}

  {{accessModifier}} class {{vendorExtensions.x-apex-dto-class}} {
{{#allParams}}
    {{accessModifier}} {{{dataType}}} {{paramName}};

    {{accessModifier}} {{vendorExtensions.x-apex-dto-class}} {{vendorExtensions.x-apex-setter}}(final {{{dataType}}} {{paramName}}) {
      this.{{paramName}} = {{paramName}};
      return this;
    }

{{/allParams}}  }

  {{accessModifier}} class {{vendorExtensions.x-apex-response-class}} {
    {{accessModifier}} {{{httpClientClassName}}}.HttpResult httpResult;
{{#returnType}}    {{accessModifier}} {{{returnType}}} data;
{{/returnType}}  }

  /**
{{#summary}}   * {{summary}}
{{/summary}}{{#allParams}}   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional){{/required}}
{{/allParams}}   * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
   */
  {{accessModifier}} virtual {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}(
    final {{vendorExtensions.x-apex-dto-class}} request
  ) {
    {{#returnType}}return {{operationId}}WithHttpInfo(request).data;{{/returnType}}{{^returnType}}{{operationId}}WithHttpInfo(request);{{/returnType}}
  }

  /**
{{#summary}}   * {{summary}}
{{/summary}}{{#allParams}}   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional){{/required}}
{{/allParams}}   * @return {{vendorExtensions.x-apex-response-class}}
   */
  {{accessModifier}} virtual {{vendorExtensions.x-apex-response-class}} {{operationId}}WithHttpInfo(
    final {{vendorExtensions.x-apex-dto-class}} request
  ) {
    final {{{builderClassName}}} builder = new {{{builderClassName}}}()
      .setEndpoint({{{vendorExtensions.x-apex-path-request}}})
      .setMethod({{{builderClassName}}}.HttpMethod.{{vendorExtensions.x-apex-http-method}});
{{#bodyParam}}
    builder.setBody(JSON.serialize(request.{{paramName}}));
{{/bodyParam}}
{{#queryParams}}
    {{#isArray}}if (request.{{paramName}} != null && !request.{{paramName}}.isEmpty()) {
      final List<String> {{paramName}}Strs = new List<String>();
      for ({{{items.dataType}}} item : request.{{paramName}}) {
        {{paramName}}Strs.add(String.valueOf(item));
      }
      builder.addQueryParameter('{{baseName}}', String.join({{paramName}}Strs, ','));
    }{{/isArray}}{{^isArray}}if (request.{{paramName}} != null{{#isString}} && !String.isBlank(request.{{paramName}}){{/isString}}) {
      builder.addQueryParameter('{{baseName}}', String.valueOf(request.{{paramName}}));
    }{{/isArray}}
{{/queryParams}}
    final {{{httpClientClassName}}}.HttpResult httpResult = this.client.send(builder);
    if (httpResult.response.getStatusCode() / 100 != 2) {
      throw buildApiException('{{operationId}}', httpResult);
    }
    final {{vendorExtensions.x-apex-response-class}} response = new {{vendorExtensions.x-apex-response-class}}();
    response.httpResult = httpResult;
{{#returnType}}    response.data = ({{{returnType}}}) JSON.deserialize(httpResult.response.getBody(), {{{returnType}}}.class);
{{/returnType}}    return response;
  }
{{/operation}}{{/operations}}
}
