{{accessModifier}} virtual class {{{clientClassName}}} {
  private final String baseUrl;
  private final String version;
  private final Map<String, String> headers = new Map<String, String>();
  private final {{{httpClientClassName}}} httpClient;

  {{accessModifier}} {{{clientClassName}}}(final String baseUrl, final String version) {
    this(baseUrl, version, new {{{httpClientClassName}}}());
  }

  {{accessModifier}} {{{clientClassName}}}(final String baseUrl, final String version, final {{{httpClientClassName}}} httpClient) {
    this.baseUrl = baseUrl;
    this.version = version;
    this.httpClient = httpClient;
  }

  {{accessModifier}} {{{clientClassName}}} addHeader(final String name, final String value) {
    this.headers.put(name, value);
    return this;
  }

  {{accessModifier}} virtual {{{httpClientClassName}}}.HttpResult send(final {{{builderClassName}}} builder) {
    final HttpRequest req = builder.build(this.baseUrl, this.version, this.headers);
    return this.httpClient.send(req);
  }
}
