{{accessModifier}} virtual class {{{clientClassName}}} {
  private final String baseUrl;
  private final String version;
  private final Map<String, String> headers = new Map<String, String>();
  private final {{{httpClientClassName}}} httpClient;
  private final {{{authProviderClassName}}} authProvider;

  {{accessModifier}} {{{clientClassName}}}(
    final String baseUrl, 
    final String version, 
    final {{{httpClientClassName}}} httpClient,
    final {{{authProviderClassName}}} authProvider
  ) {
    this.baseUrl = baseUrl;
    this.version = version;
    this.httpClient = httpClient;
    this.authProvider = authProvider;
  }

  {{accessModifier}} {{{clientClassName}}} addHeader(final String name, final String value) {
    this.headers.put(name, value);
    return this;
  }

  {{accessModifier}} {{{httpResultClassName}}} send(final {{{httpRequestBuilderClassName}}} builder) {
    final Map<String, String> authHeaders = this.authProvider.getAuthHeaders(builder.getRequestContext());
    for (String headerName : authHeaders.keySet()) {
      builder.addHeader(headerName, authHeaders.get(headerName));
    }
    final HttpRequest req = builder.build(this.baseUrl, this.version, this.headers);
    return this.httpClient.send(req);
  }
}
