public class {{{httpClientClassName}}} {
  public {{classPrefix}}HttpResult send(final HttpRequest req) {
    final HttpResponse res = new Http().send(req);
    final {{classPrefix}}HttpResult result = new {{classPrefix}}HttpResult();
    result.request = req;
    result.response = res;
    return result;
  }
}
