@IsTest
public class {{{httpClientMockClassName}}} extends {{{httpClientClassName}}} {
  public HttpResponse nextResponse;

  public override {{{httpResultClassName}}} send(final HttpRequest req) {
    final {{{httpResultClassName}}} r = new {{{httpResultClassName}}}();
    r.request = req;
    r.response = this.nextResponse;
    return r;
  }
}
