{{#models}}
{{#model}}
@IsTest
private class {{classname}}Test {
{{#isEnum}}
  @IsTest
  static void testValues() {
    System.assert({{classname}}.values().size() > 0);
  }
{{/isEnum}}
{{^isEnum}}
  @IsTest
  static void testSettersAndGetters() {
    {{classname}} m = new {{classname}}(){{#vars}}
      .{{setter}}({{{vendorExtensions.x-apex-dummy-value}}}){{/vars}};
{{#vars}}
    System.assertNotEquals(null, m.{{getter}}());
{{/vars}}
  }

  @IsTest
  static void testJsonRoundTrip() {
    {{classname}} original = new {{classname}}(){{#vars}}
      .{{setter}}({{{vendorExtensions.x-apex-dummy-value}}}){{/vars}};
    final String json = JSON.serialize(original);
    {{classname}} restored = ({{classname}}) JSON.deserialize(json, {{classname}}.class);
    System.assertNotEquals(null, restored);
  }
{{/isEnum}}
}
{{/model}}
{{/models}}
